// Place all the styles related to the kategorie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top {
    display: block;
    height: 120px;
}
.partner_class{
    display: block;
    position: center;
    text-align: center;
}
.btn-floating {
    display: block;
    text-align: center;
    position: center;
    
}